{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}HERO APP!{{/block}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.5">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
         <img src= "/images/pixel.png" width="65%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">
    </head>
    <body style="text-align: center; padding-top: 5%;">

{{/block}}

<!-- begin inner template-->
<div class="container">
    {{#block "content"}}
    <img src= "/images/pixel.png" width="65%" alt="https://unsplash.com/search/task?photo=Lh_bn9SgRSY">
    {{/block}}

</div>
<!-- end inner template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}